<?php
/**
 * @var \{{ author_pascal }}\{{ plugin_pascal }}\Controllers\{{ controller_pascal }} $this
 * @var \{{ author_pascal }}\{{ plugin_pascal }}\Models\{{ model_pascal }} $formModel
 */
?>
<?php Block::put('breadcrumb') ?>
{% if structured %}
    <?= $this->makePartial('partials/breadcrumb') ?>
{% else %}
    <ul>
        <li><a href="<?= $this->actionUrl('/') ?>">{{ controller_pascal }}</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
{% endif %}
<?php Block::endPut() ?>

<?= Form::open(['class' => 'layout']) ?>

    <div class="layout-row">
        <?= $this->importRender() ?>
    </div>

    <div class="form-buttons">
        <button
            type="submit"
            data-control="popup"
            data-handler="onImportLoadForm"
            data-keyboard="false"
            class="btn btn-primary">
            Import {{ controller_pascal }}
        </button>
    </div>

<?= Form::close() ?>
