<?php
/**
 * @var {{ namespace }}\Controllers\{{ controller_pascal }} $this
 * @var {{ namespace }}\Models\{{ model_pascal }} $formModel
 */
?>
<?php Block::put('breadcrumb') ?>
{% if structured %}
    <?= $this->makePartial('partials/breadcrumb') ?>
{% else %}
    <ul>
        <li><a href="<?= $this->actionUrl('/') ?>">{{ controller_pascal }}</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
{% endif %}
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>
{% if structured %}
    <?= $this->makePartial('partials/error') ?>
{% else %}
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= $this->actionUrl('/') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
{% endif %}
<?php endif ?>
